<!-- add modal start -->
<div id="applicantRejected" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- modal content start -->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="card-title">Selected or Rejected</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
  
            <!-- form start -->
            <div class="card-body">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
  
              <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort>
  
                  <!-- column 1 start -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Applicant Name</mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.id}} </mat-cell>
                  </ng-container>
                  <!-- column 1 end -->
  
                  <!-- column 2 start -->
                  <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> CV </mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> <a href="">CV.pdf</a></mat-cell>
                  </ng-container>
                  <!-- column 2 end -->
  
                  <ng-container matColumnDef="jobdescription">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Reason</mat-header-cell>
                    <mat-cell *matCellDef="let appoinment"> {{appoinment.id}} </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
  
                <!-- pagination start -->
                <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
                <!-- pagination end -->
              </div>
            </div>
            <!-- form end -->
          </div>
        </div>
  
      </div>
      <!-- modal content end -->
  
    </div>
  </div>
  <!-- add modal end -->